#taktischertitel {
    font-family: 'Sigmar', cursive;
    position: -webkit-sticky; 
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foodpics {
   height: 7cm;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.text-essen {
    font-family: 'Sigmar', cursive; 
    text-align: center; 
}


<footer> {
    font-family: Roboto, sans-serif;

}
